In [13]:
import pandas as pd

# Load the dataset
df = pd.read_csv(r"C:\Users\Vinay\Downloads\analysis_id.csv") 
df.head()

,Unnamed: 0,date_hour,client,device_type,time_zone,os_name,browser_name,ad_unit,size,bidder,...,sum_time_to_respond,median,min_bid,max_bid,avg_bid,sum_2nd_highest_bid,sum_prebid_winning_bid,sum_winning_bid,sum_nobid,sum_timeout
0,0,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-Footers,728x90,onemobile,...,6614.0,NaN,0.58520,0.58520,0.585200,0.5852,0.5852,NaN,NaN,NaN
1,1,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-Footers,728x90,rhythmone,...,5171.0,NaN,0.33945,0.34875,0.344100,NaN,NaN,NaN,NaN,NaN
2,2,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-InLine-1,300x250,undertone,...,1523.0,NaN,0.96000,0.96000,0.960000,NaN,NaN,NaN,NaN,NaN
3,3,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-O-300x250-1,300x250,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-O-300x250-1,300x250,rhythmone,...,3570.0,0.34875,0.34410,0.34875,0.346425,NaN,NaN,NaN,NaN,NaN

In [14]:
df.columns

Index(['Unnamed: 0', 'date_hour', 'client', 'device_type', 'time_zone',
       'os_name', 'browser_name', 'ad_unit', 'size', 'bidder', 'bid_range',
       'media_type', 'request_count', 'response_count', 'prebid_win_count',
       'win_count', 'sum_bid', 'sum_time_to_respond', 'median', 'min_bid',
       'max_bid', 'avg_bid', 'sum_2nd_highest_bid', 'sum_prebid_winning_bid',
       'sum_winning_bid', 'sum_nobid', 'sum_timeout'],
      dtype='object')

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              5000 non-null   int64
 1   date_hour               5000 non-null   object
 2   client                  5000 non-null   object
 3   device_type             5000 non-null   object
 4   time_zone               5000 non-null   object
 5   os_name                 5000 non-null   object
 6   browser_name            5000 non-null   object
 7   ad_unit                 5000 non-null   object
 8   size                    5000 non-null   object
 9   bidder                  5000 non-null   object
 10  bid_range               5000 non-null   object
 11  media_type              5000 non-null   object
 12  request_count           5000 non-null   int64
 13  response_count          5000 non-null   int64
 14  prebid_win_count        1167 non-null   float64
 15  win_count               186 non-null    float64
 16  sum_bid                 3790 non-null   float64
 17  sum_time_to_respond     3790 non-null   float64
 18  median                  1760 non-null   float64
 19  min_bid                 3790 non-null   float64
 20  max_bid                 3790 non-null   float64
 21  avg_bid                 3790 non-null   float64
 22  sum_2nd_highest_bid     734 non-null    float64
 23  sum_prebid_winning_bid  1167 non-null   float64
 24  sum_winning_bid         186 non-null    float64
 25  sum_nobid               0 non-null      float64
 26  sum_timeout             0 non-null      float64
dtypes: float64(13), int64(3), object(11)
memory usage: 1.0+ MB

In [18]:
bidder_stat = df.groupby('bidder').agg(total_bids=('response_count', 'sum'),total_wins=('prebid_win_count', 'sum')).dropna()
bidder_stat['win_rate'] = (bidder_stat['total_wins'] / bidder_stat['total_bids'])*100
bidder_stat = bidder_stat.sort_values(by='win_rate', ascending=False)
bidder_stat

              total_bids  total_wins   win_rate
bidder
undertone            104        52.0  50.000000
teads                700       323.0  46.142857
pulsepoint           191        71.0  37.172775
sharethrough         332       104.0  31.325301
onemobile           2726       759.0  27.842993
rhythmone            655       160.0  24.427481
appnexus             830       175.0  21.084337
criteo              3181       587.0  18.453317
33across             886       136.0  15.349887
emx_digital          393        56.0  14.249364
pubmatic            2335       255.0  10.920771
medianet            2556       253.0   9.898279
openx               1165        86.0   7.381974
triplelift          1479       108.0   7.302231
ix                  3051       184.0   6.030810
rubicon              582        33.0   5.670103
sovrn                358        14.0   3.910615
                       0         0.0        NaN